.DS_Store
.idea
log
models

# result
eval_results/
result*
kernel*
kernel*

# Pytorch Models
*.pth

# images
*.jpg
*.png

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
cache*

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dataset
VOCdevkit
