torch==2.1.0
torch_npu==2.1.0.post10
torchvision==0.16.0
torchaudio==2.1.0
diffusers==0.27.2
accelerate==0.28.0
tensorflow==2.12.0
tensorboard==2.12.0
opencv-python==4.9.0.80
soundfile==0.12.1
transformers==4.39.2
gdown
requests
imageio[ffmpeg]
omegaconf
ffmpeg-python
gradio
spaces
moviepy
huggingface-hub==0.25.2
attrs
openmin
mmengine==0.10.6
mmcv==2.1.0
mmdet==3.2.0
mmpose==1.3.2
tqdm