absl-py==2.1.0
accelerate==0.32.1
annotated-types==0.7.0
ascendebug==0.1.0
attrs==23.2.0
auto-tune==0.1.0
certifi==2024.7.4
charset-normalizer==3.3.2
cloudpickle==3.0.0
conda-pack==0.8.0
dataflow==0.0.1
decorator==5.1.1
deepspeed==0.14.3
einops==0.8.0
et-xmlfile==1.1.0
filelock==3.15.4
fsspec==2024.6.1
grpcio==1.64.1
hccl==0.1.0
hccl-parser==0.1
hjson==3.1.0
huggingface-hub==0.23.4
idna==3.7
importlib_metadata==8.0.0
Jinja2==3.1.4
llm-datadist==0.0.1
loguru==0.7.2
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
ml-dtypes==0.4.0
mpmath==1.3.0
networkx==3.2.1
ninja==1.11.1.1
numpy==1.26.4
nvidia-ml-py==12.555.43
op-gen==0.1
op-test-frame==0.1
opc-tool==0.1.0
openpyxl==3.1.5
packaging==24.1
pandas==2.2.2
peft==0.11.1
pillow==10.4.0
pip==24.0
protobuf==5.27.2
psutil==6.0.0
py-cpuinfo==9.0.0
pydantic==2.8.2
pydantic_core==2.20.1
pydantic-settings==2.3.4
Pygments==2.18.0
pynvml==11.5.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
regex==2024.5.15
requests==2.32.3
rich==13.7.1
safetensors==0.4.3
schedule-search==0.0.1
scipy==1.13.1
setuptools==69.5.1
six==1.16.0
sympy==1.13.0
te==0.4.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tokenizers==0.19.1
tornado==6.4.1
tqdm==4.66.4
transformers==4.42.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
Werkzeug==3.0.3
wheel==0.43.0
xformers==0.0.22.post7
zipp==3.19.2
