setuptools==65.7.0
torchvision==0.12.0
mmengine==0.10.3
opencv-python-headless==4.5.3.56
pyyaml
attrs
numpy
decorator
sympy
cffi
pathlib2
psutil
protobuf
scipy
requests
absl-py
regex
ftfy
prettytable
