torch==2.1.0
torch_npu==2.1.0.post17.dev20250905
torchvision==0.16.0
torchaudio==2.1.0
decorator
scipy
attrs
psutil
numpy==1.26.0
opencv-python==4.11.0.86
pycocotools 
matplotlib 
onnx==1.16.1
onnxruntime 
onnxsim==0.4.17