scipy
numpy
soundfile
python-levenshtein
torchelastic
visdom
wget
librosa
numba==0.49.1
llvmlite==0.32.1
tqdm
matplotlib
flask
sox
sklearn
soundfile
pytest
hydra-core
google-cloud-storage==1.42.3
jupyter
