torch==2.1.0
torchvision==0.16.0
colossalai==0.3.7
accelerate
diffusers
ftfy
gdown
mmengine
pre-commit
av
tensorboard
timm
tqdm
transformers==4.36.2
wandb
scipy
decorator
attrs
huggingface_hub==0.25.2