accelerate
bitsandbytes
datasets
decorator
deepspeed==0.16.4
einops
isort
jsonlines
loralib
numpy==1.26.4
optimum
packaging
peft
pillow
ray[default]==2.42.0
tensorboard
torch==2.6.0
torchmetrics
tqdm
transformers_stream_generator
wandb
wheel
scipy