torch==2.1.0
torch_npu==2.1.0.post13
openmim
fairscale
jsonlines
nltk==3.8
pycocoevalcap
transformers==4.40.0
numpy==1.23.0
emoji
ddd-dataset
protobuf
decorator
psutil
scipy
git+https://github.com/lvis-dataset/lvis-api.git
