setuptools==65.7.0
torchvision==0.16.0
opencv-python-headless==4.5.3.56
nuscenes-devkit==1.1.11
numba==0.58.1
numpy==1.23.1
pillow==10.2.0
timm==0.4.12
attrs
decorator
sympy
cffi
pyyaml
pathlib2
psutil
protobuf==3.19.6
scipy
requests
absl-py

