numpy
llvmlite
numba
tensorboardX
easydict
pyyaml
scikit-image
tqdm
torchvision==0.16.0
SharedArray
opencv-python
pyquaternion
pccm==0.3.4
torch_scatter==2.1.1
opencv-python-headless
av2
kornia==0.6.5